{% extends "base.html" %}

{% block content %}

    <div class="d-flex justify-content-between">
        <h1 class="pb-4">
            TODO List
        </h1>
        <a href="{% url 'task_manager:task-create' %}" class="btn btn-primary m-4">Add task</a>
    </div>

    {% for task in task.all %}
        {% if task.status %}
            <div class="d-flex justify-content-between mr-4">
                <p>
                    <strong>{{ task.content }}</strong>
                    <strong class="text-success">Done</strong>
                </p>
                <form action="{% url 'task_manager:change-status' pk=task.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary pt-1 pb-1">Undo</button>
                </form>
            </div>
            <p>Created: {{ task.start_date }} <i class="text-danger">Deadline: {{ task.finish_date }}</i></p>
        {% else %}
            <div class="d-flex justify-content-between mr-4">
                <p>
                    <strong>{{ task.content }}</strong>
                    <strong class="text-danger">Not done</strong>
                </p>
                <form action="{% url 'task_manager:change-status' pk=task.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success pt-1 pb-1">Complete</button>
                </form>
            </div>
            <p>Created: {{ task.start_date }}</p>

        {% endif %}

        <p class="text-secondary pb-4">
             Tags:
            {% for tag in task.tags.all %}
               {{ tag }}
            {% endfor %}
            <a href="{% url 'task_manager:task-update' pk=task.id %}">Update</a>
            <a href="{% url 'task_manager:task-delete' pk=task.id %}">Delete</a>

        </p>
    {% endfor %}

{% endblock %}